*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.top-bar{
    background-color: white;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.container1{
    display: flex;
}
.container2{
    display: flex;
}