*{
    padding: 0;
    margin: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar{
    background-color: white;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.container1{
    display: flex;
    list-style-type: none;
    padding: 15px;
}
.container2{
    display: flex;
    list-style-type: none;
    padding: 15px;
}
header{
    background-color: aqua;
}
.j-elements{
    display: flex;
}
.jumbo{
    width: 50%;
}
.jumbo-text{
    text-align: center;
}
.partners{
    display: flex;
}
.partner-jumbo{
    width: 50%;
}
footer{
    background-color: black;
    color: white;
    display: flex;
}
.footerlist{
    list-style-type: none;
    line-height: 1.6;
}